In [162]:
# Importação das bibliotecas

import pandas as pd
from datetime import date

In [163]:
# Importação dos arquivos CSV dos dados

arquivo1 = 'C:/Users/******/Desktop/*********/Análise do Comportamento de Compra - E-commerce/Relatorio de Clientes Feminino.csv'
arquivo2 = 'C:/Users/******/Desktop/*********/Análise do Comportamento de Compra - E-commerce/Relatorio de Clientes Masculino.csv'
arquivo3 = 'C:/Users/******/Desktop/*********/Análise do Comportamento de Compra - E-commerce/Vendas.csv'
df_clientes_fem = pd.read_csv(arquivo1, sep = ';', encoding = 'latin-1')
df_clientes_mas = pd.read_csv(arquivo2, sep = ';', encoding = 'latin-1')
df_vendas = pd.read_csv(arquivo3, sep = ';')

In [ ]:
# Exibição do cabeçalho do dataframe

df_clientes_fem.head()

In [ ]:
# Seleção das colunas do dataframe que serão utilizadas e exibição do resultado

df_clientes_fem = df_clientes_fem.iloc[:, [1, 3, 6]]
df_clientes_fem.head()

In [166]:
# Identificação de dados faltantes

df_clientes_fem.isnull().sum()

 Gênero                0
 Data de Nascimento    0
 Cpf/Cnpj              0
dtype: int64

In [ ]:
# Exibição do cabeçalho do dataframe

df_clientes_mas.head()

In [ ]:
# Seleção das colunas do dataframe que serão utilizadas e exibição do resultado

df_clientes_mas = df_clientes_mas.iloc[:, [1, 3, 6]]
df_clientes_mas.head()

In [169]:
# Identificação de dados faltantes

df_clientes_mas.isnull().sum()

 Gênero                0
 Data de Nascimento    0
 Cpf/Cnpj              0
dtype: int64

In [ ]:
# Exibição do cabeçalho do dataframe

df_vendas.head()

In [171]:
# Identificação de dados faltantes

df_vendas.isnull().sum()

ID_CLIENTE        0
CPF               0
ID_PRODUTO        0
VALOR_UNITARIO    0
QUANTIDADE        0
VALOR_TOTAL       0
dtype: int64

In [ ]:
# União dos dataframes de clientes femininos e masculinos

df_clientes = pd.concat([df_clientes_fem, df_clientes_mas])

df_clientes # Exibição dos dados

In [ ]:
# Renomeação das colunas do dataframe

df_clientes.columns = ['GENERO', 'DATA_NASCIMENTO', 'CPF'] 

df_clientes # Exibição dos dados

In [ ]:
# União dos dataframes de clientes e de vendas e exibição do resultado

df_vendas_final = pd.merge(df_clientes, df_vendas, how = 'inner', on = 'CPF').sort_values(by = 'ID_CLIENTE')

df_vendas_final

In [175]:
# Visualização do tipo de dados de cada coluna

df_vendas_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18698 entries, 16939 to 414
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GENERO           18698 non-null  object
 1   DATA_NASCIMENTO  18698 non-null  object
 2   CPF              18698 non-null  int64
 3   ID_CLIENTE       18698 non-null  int64
 4   ID_PRODUTO       18698 non-null  object
 5   VALOR_UNITARIO   18698 non-null  object
 6   QUANTIDADE       18698 non-null  int64
 7   VALOR_TOTAL      18698 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.3+ MB

In [ ]:
# Substituição de vírgulas por pontos nos dados das colunas de valores

df_vendas_final['VALOR_UNITARIO'] = df_vendas_final['VALOR_UNITARIO'].str.replace(',', '.')
df_vendas_final['VALOR_TOTAL'] = df_vendas_final['VALOR_TOTAL'].str.replace(',', '.')

df_vendas_final.head() # Exibição dos dados

In [177]:
# Alteração do tipo de dados das colunas

df_vendas_final['DATA_NASCIMENTO'] = pd.to_datetime(df_vendas_final['DATA_NASCIMENTO'], dayfirst = True)
df_vendas_final['VALOR_UNITARIO'] = pd.to_numeric(df_vendas_final['VALOR_UNITARIO'])
df_vendas_final['VALOR_TOTAL'] = pd.to_numeric(df_vendas_final['VALOR_TOTAL'])

df_vendas_final.info() # Visualização do tipo de dados de cada coluna

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18698 entries, 16939 to 414
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GENERO           18698 non-null  object
 1   DATA_NASCIMENTO  18698 non-null  datetime64[ns]
 2   CPF              18698 non-null  int64
 3   ID_CLIENTE       18698 non-null  int64
 4   ID_PRODUTO       18698 non-null  object
 5   VALOR_UNITARIO   18698 non-null  float64
 6   QUANTIDADE       18698 non-null  int64
 7   VALOR_TOTAL      18698 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.3+ MB

In [ ]:
df_vendas_final # Exibição dos dados

In [179]:
# Função que retorna a idade baseada na data de nascimento

def calculateAge(birthDate):
    today = date.today()
    age = today.year - birthDate.year - ((today.month, today.day) < (birthDate.month, birthDate.day))
 
    return age

In [180]:
# Execução da função que retorna a idade para todos os registros do dataframe

for index, row in df_vendas_final.iterrows():
        df_vendas_final.loc[index, 'IDADE'] = calculateAge(df_vendas_final.loc[index, 'DATA_NASCIMENTO'])

In [ ]:
# Exibição dos dados

df_vendas_final

In [182]:
# Visualização do tipo de dados de cada coluna

df_vendas_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18698 entries, 16939 to 414
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GENERO           18698 non-null  object
 1   DATA_NASCIMENTO  18698 non-null  datetime64[ns]
 2   CPF              18698 non-null  int64
 3   ID_CLIENTE       18698 non-null  int64
 4   ID_PRODUTO       18698 non-null  object
 5   VALOR_UNITARIO   18698 non-null  float64
 6   QUANTIDADE       18698 non-null  int64
 7   VALOR_TOTAL      18698 non-null  float64
 8   IDADE            18698 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 1.9+ MB

In [183]:
# Alteração do tipo de dado da coluna "IDADE"

df_vendas_final['IDADE'] = df_vendas_final['IDADE'].astype(int)

In [184]:
# Visualização do tipo de dados de cada coluna

df_vendas_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18698 entries, 16939 to 414
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GENERO           18698 non-null  object
 1   DATA_NASCIMENTO  18698 non-null  datetime64[ns]
 2   CPF              18698 non-null  int64
 3   ID_CLIENTE       18698 non-null  int64
 4   ID_PRODUTO       18698 non-null  object
 5   VALOR_UNITARIO   18698 non-null  float64
 6   QUANTIDADE       18698 non-null  int64
 7   VALOR_TOTAL      18698 non-null  float64
 8   IDADE            18698 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(3), object(2)
memory usage: 1.9+ MB

In [ ]:
# Exibição do cabeçalho do dataframe
df_vendas_final.head()

In [186]:
# Seleção das colunas do dataframe que serão utilizadas e exibição do resultado

df_vendas_final = df_vendas_final.iloc[:, [0, 3, 4, 5, 6, 7, 8]]
df_vendas_final.head()

,GENERO,ID_CLIENTE,ID_PRODUTO,VALOR_UNITARIO,QUANTIDADE,VALOR_TOTAL,IDADE
16939,Masculino,380,120030001,49.68,3,149.04,74
16940,Masculino,380,120070003,35.28,3,105.84,74
16941,Masculino,380,850040007,207.00,1,207.00,74
10685,Masculino,806,850040007,207.00,1,207.00,56
10682,Masculino,806,E930030026,23.80,2,47.60,56

In [187]:
# Exportação dos dados transformados para um arquivo .CSV

df_vendas_final.to_csv('C:/Users/*******/Desktop/********/Análise do Comportamento de Compra - E-commerce/Vendas_Final.csv', sep = ';')